@import '../abstracts/mixins';

.main{
    height: 2000px;
    width: 100%; 

    padding-top: 15vh;
}

.slider_section{
    height: 85vh;
}

.slider{
    max-width: 100%;
    overflow: hidden;
    height: 100%;

    &>.slider-container {
        width: 1920px;
        height: 100%;
        display: flex;
        position: relative;
        left: 0;
        transition: transform ease 1s;

        &>.slide {

            &>.slide_top{
                display: flex;
                align-items: center;

                height: calc(100% - 260px);
        
                &>.slide_desc{
                    width: 400px;
                    // padding: 0 0 50px 70px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    margin-top: 3%;
        
                    &>p{
                        @include font(26px, 36px, 400);
                        color: #8A8A8A;
                        text-align: justify;
                    }
                }
                &>.slide_img{
                    width: calc(100% - 640px);
                    height: 100%;

                    object-fit: cover;
                }
            }
        
            &>.slide_bottom{
                display: flex;
                align-items: center;
                height: 260px;
        
                &>.slide_title{
                    height: 100%;
                    width: calc(100% - 640px);
                    display: flex;
                    align-items: center;
                    padding-left: 70px;
                    box-sizing: border-box;
        
                    &>h1{
                        @include font(64px, 64px, 700);
                        color: #fff;
                    }
                }
            }
        }
    } 
}
